.professor-img {
  width: 30rem;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}

.professor-section {
  margin: 0 auto;
  width: fit-content;

  .professor-name {
    text-align: center;
    font-size: large;
    font-weight: 500;
    padding: 1rem 0;
  }

  & ul {
    list-style: disc;

    list-style-position: inside;
  }
}
